.nav {
  height: 80px;
  display: flex;
  align-items: center;
  /* color: #9534d2; */

  border-bottom: 1px solid #9534d2;
}

.nav__link {
  font-size: 24px;
  font-weight: 500;
  margin-left: 48px;
}
