.nav {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 2px dashed #9534d2;
  img {
    display: inline-block;
    margin-right: 8px;
  }
}

.nav-link {
  font-size: 24px;
  font-weight: 500;
  margin-left: 48px;
  color: #000;

  &&:active,
  &&:hover,
  &&:focus {
    color: #9534d2;
  }
}
